{% extends "base.html" %}

{% block title %}{{ title }} - rarylib{% endblock %}

{% block header %}
<div class="header">
    <div class="container">
        <div class="header-content">
            <h1>rarylib</h1>
            <div class="header-info">{{ title }}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="loading-container">
    <div class="spinner"></div>
    <div class="loading-message">{{ message }}</div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    setTimeout(function() {
        window.location.href = "{{ target_url | safe }}";
    }, 3000);
</script>
{% endblock %}
