{% extends "base.html" %}

{% block title %}{{ title }} - rarylib{% endblock %}

{% block header %}
<div class="header">
    <div class="container">
        <div class="header-content">
            <h1>rarylib</h1>
            <div class="header-info">{{ title }}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="message mb-20">
    {{ message }}
</div>

{% if details %}
<div class="message-details mb-20">
    <div class="message-details-title">Debug Details</div>
    <ul class="message-details-list">
        {% for detail in details %}
        <li>{{ detail }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if back_link %}
<a href="/" class="btn btn-secondary btn-block">Back to Library</a>
{% endif %}
{% endblock %}
